.button {
  -fx-background-color: #444444;
}

.tool-bar {
  -fx-background-color: #222222;
}

.region {
  -fx-background-color: #222222;
}

.label {
  -fx-text-fill: #FFFFFF;
}

.battle-board-section-header {
  -fx-background-color: #331111;
}

.robot-card {
/*  -fx-background-color: #331111; */
  -fx-background-color: black;
  -fx-border-color: red;
  -fx-border-radius: 5;
  -fx-effect: dropshadow(one-pass-box, #556666, 10, 0, 3, 3);
}

.bracket-battle {
/*  -fx-background-color: #222222; */
  -fx-background-color: black;
  -fx-border-color: gray;
  -fx-border-radius: 5;
  -fx-effect: dropshadow(one-pass-box, #556666, 10, 0, 3, 3);
}

.bracket-battle.now-playing {
/*  -fx-background-color: #331111; */
  -fx-border-color: red;
}

.scroll-pane > .viewport {
  -fx-background-color: transparent;
}

.scroll-pane {
  -fx-background-color: #222222;
}

.scroll-pane.now-playing {
  -fx-pannable: true;
  -fx-hbar-policy: 'never';
  -fx-vbar-policy: 'never';
  -fx-cursor: 'move';
}

.scroll-pane.bracket {
  -fx-pannable: true;
  -fx-hbar-policy: 'never';
  -fx-vbar-policy: 'never';
  -fx-cursor: 'move';
}

.now-playing-pane, .bracket-pane, .up-next-pane {
  -fx-border-color: black;
}

.text-field.invalid {
  -fx-border-color: red;
  -fx-background-color: #FF9999;
}

.table-view.results .scroll-bar * {
  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;

  -fx-min-height: 0;
  -fx-pref-height: 0;
  -fx-max-height: 0;
}