.button {
  -fx-background-color: #444444;
}

.tool-bar {
  -fx-background-color: #222222;
}

.region {
  -fx-background-color: #222222;
}

.label {
  -fx-text-fill: #FFFFFF;
}

.scroll-pane > .viewport {
  -fx-background-color: transparent;
}

.scroll-pane {
  -fx-background-color: #222222;
}

.scroll-pane.now-playing {
  -fx-pannable: true;
  -fx-hbar-policy: 'never';
  -fx-vbar-policy: 'never';
  -fx-cursor: 'move';
}

.text-field.invalid {
  -fx-border-color: red;
  -fx-background-color: #FF9999;
}